html {
  height: 100%;
  font-family: system-ui, -apple-system, helvetica, arial, sans-serif;
}

body {
  background-color: white;
  position: relative;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

main {
  padding: 0 20px 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* CSS for homepage */

h1 {
    text-align: left;
    text-transform: lowercase;
    position: relative;
    right: 428px;
}

.about-text {
  position: relative;
  left: 500px;
  width: 50%;
  text-align: left;
  margin-bottom: 20px;
}

.about-image img {
  position: absolute;
  top: 170px;
  border-radius: 3px;
  margin: 10px
}

/* CSS for blog */
.blog-subtitle {
  margin: 10px;
}

/* CSS for portfolio */
.projects img {
  border-radius: 3px;
}

.portfolio-title {
  position: relative;
  left: 25px;
  width: 50%;
  text-align: left;
  margin-bottom: 0px;
}

.portfolio-subtitle {
  position: relative;
  left: 25px;
  width: 50%;
  text-align: left;
  margin-bottom: 20px;
}

/* CSS for resume */
.page-title {
  position: relative;
  right: 98px;
  width: 50%;
  text-align: left;
  margin-bottom: 20px;
}

.resume-link {
  position: relative;
  right: 98px;
  width: 50%;
  text-align: left;
  margin-bottom: 20px;
}

/*CSS for contact page */
.h1.contact {
  position: relative;
  left: 0px;
  width: 50%;
  text-align: left;
  margin-bottom: 10px;
}

.subtitle {
  position: relative;
  left: 0px;
  width: 50%;
  text-align: left;
  margin-bottom: 20px;
}

#name {
  position: relative;
  left: 0px;
  width: 50%;
  text-align: left;
  margin-bottom: 20px;
  border-top-style: solid;
  border-bottom-style: solid;
  box-sizing: border-box;
  border-radius: 3px;
  padding-block-end: 10px;
}

#email {
  position: relative;
  left: 0px;
  width: 50%;
  text-align: left;
  margin-bottom: 20px;
  border-top-style: solid;
  border-bottom-style: solid;
  box-sizing: border-box;
  border-radius: 3px;
  padding-block-end: 10px;
}

#message {
  position: relative;
  left: 0px;
  width: 50%;
  text-align: left;
  margin-bottom: 20px;
  border-radius: 3px;
  padding-block-end: 10px;
}

#submit {
  position: relative;
  right: 322px;
  text-align: left;
  margin-bottom: 20px;
  box-sizing: border-box;
}

/* CSS for navigation bar */

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 7%;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  background-color: lightblue;
  color: white;
  padding: 0px 0px;

  /* Debug border */
  /* border: solid red; */
}

.nav-list {
  display: flex;
  flex-direction: row;
  position: relative;
  right: 30px;
  list-style: none;
}

.nav-list li:hover {
    background-color: skyblue;
    color: white;
    padding: 0px 0px;
    text-decoration: underline;
}

.navbar a {
  color: white;
  font-weight: bold;
  margin: 0 12px;
  text-decoration: none;
  letter-spacing: 2px;
}

/* CSS for page footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  box-sizing: border-box;
}